/*pomoćne klase, služe za brže prototipiranje*/

/***MARGINE (b-bottom,t-top,l-left-r-right)***/
.mb-xs {
  margin-bottom: 0.5rem;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 4rem;
}

.mb-l {
  margin-bottom: 8rem;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 4rem;
}

.mt-l {
  margin-top: 8rem;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mr-s {
  margin-right: 1rem;
}

.mr-m {
  margin-right: 4rem;
}

.mr-l {
  margin-right: 8rem;
}

.mr-xs {
  margin-left: 0.5rem;
}

.ml-s {
  margin-left: 1rem;
}

.ml-m {
  margin-left: 4rem;
}

.ml-l {
  margin-left: 8rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

/***FLEXBOX***/

/* "običan" flex */
.flex {
  display: flex;
  flex-flow: row wrap;
}

/* flex sa stupcima */
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

/* horizontalno i vertikalno centriranje*/
.flex-cc {
  justify-content: center;
  align-items: center;
}

.flex-c {
  justify-content: center;
}

.flex-sa {
  justify-content: space-around;
}
.flex-se {
  justify-content: space-evenly;
}

.flex-sb {
  justify-content: space-between;
}
.flex-fe {
  justify-content: flex-end;
}
.flex-fs {
  justify-content: flex-start;
}

.flex-ac {
  align-items: center;
}

.flex-asa {
  align-items: space-around;
}
.flex-ase {
  align-items: space-evenly;
}

.flex-asb {
  align-items: space-between;
}
.flex-afe {
  align-items: flex-end;
}
.flex-afs {
  align-items: flex-start;
}

/*svojstvo flex je skraćenica za flex-grow (količina dodatnog prostora koliko element uzima kad je prostora previše),
flex-shrink(količina dodatnog prostora koliko element uzima kad je prostora premalo) i flex-basis(prostor koji element zauzima prije dodatnih podjela preostalog prostora (slično svojstvu width))*/
.fb-50 {
  flex: 1 0 50%;
}

.fb-100 {
  flex: 1 0 100%;
}

/*padding, poredan prema veličinama od xs do xl*/
.p-xs {
  padding: 0.5rem;
}

.p-s {
  padding: 1rem;
}

.p-m {
  padding: 4rem;
}

.p-l {
  padding: 8rem;
}

.p-xl {
  padding: 16rem;
}

/*klase vezane uz tekst*/
.fw-m {
  font-weight: 500;
}

.fw-l {
  font-weight: 700;
}

.fs-s {
  font-size: 0.8rem;
}

.fs-m {
  font-size: 1.3rem;
}

.fs-l {
  font-size: 1.8rem;
}

.fs-xl {
  font-size: 2.3rem;
}

.lh-m {
  line-height: 1.3rem;
}

.lh-l {
  line-height: 1.8em;
}

.lh-m {
  line-height: 2.3rem;
}

.text-center {
  text-align: center;
}
/*ostale klase*/
.br-s {
  border-radius: 3px;
}

.br-m {
  border-radius: 6px;
}

.br-l {
  border-radius: 12px;
}

.round {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.large {
  width: 80vmin;
  height: auto;
  max-width: 35rem;
}

.small {
  max-width: 10rem;
}

.larger {
  width: 100vmin;
  height: auto;
  max-width: 35rem;
}

.hl {
  border: 2px red solid;
}

.narrow {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center center;
}
